<form class="ui stacked stackable segment form" action="/bookmark/{{bookmark.id}}/addlink" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Title</label>
            <input placeholder="Title" type="text" name="title">
        </div>
        <div class="field">
            <label>Link</label>
            <input placeholder="Link" type="text" name="link">
        </div>
        <div class="field">
            <label>Summary</label>
            <input placeholder="E.g CSS" type="text" name="summary">
        </div>
    </div>
    <button class="ui blue stackable submit button">Add Link</button>
</form>