<div class="ui card">
    <div class="ui center aligned image">
        <img src="{{img}}">
    </div>
    <br>
    <div class="content">
        <p class="center aligned header">{{title}}</p>
        <div class="center aligned meta">
        </div>
    </div>
</div>