<section class="ffs">
    <nav class="ui top fixed menu">
        <header class="ui header item"> <a href="/start"><h1>Gomark V3.0</h1></a></header>
        <div class="right menu">
            <a id="saved" class="item" href="/saved"><h3>Saved Bookmarks</h3></a>
            <a id="about" class="item" href="/about"><h3>About</h3></a>
            <a id="stats" class="item" href="/stats"><h3>Stats</h3></a>
            <a id="logout" class="item" href="/logout"><h3>Logout</h3></a>
        </div>
    </nav>
</section>

<script>
    $("#{{id}}").addClass("active item");
</script>

