{{> menu id="about"}}
<br>
<br>
<br>
<br>

<section class="total, content">
    <section class="ui center aligned middle aligned stackable segment">
        <h1>
            About this app.
        </h1>
        <p>
            This is an app for saving bookmarks. <br> Devloped by Daniel Collins 20076240 for Web Development Module
        </p>

        <h2>Contact Information</h2>
        <section class="total">
            <section class="ui compact one column row center aligned stackable grid segment">
                <section class="column">
                    <h3>Where to find us?</h3>
                </section>
            </section>
        </section>

        <section class="total">
            <section class="ui compact one column row center aligned stackable grid segment">
                <section class="column">
                    <p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d11742.060498767352!2d-7.3888793196163345!3d52.26383520016947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4842d9acdeb2c5eb%3A0x6508259dcfc9a6f6!2sUnnamed+Road%2C+Co.+Waterford!3m2!1d52.265318699999995!2d-7.3940956!5e0!3m2!1sen!2sie!4v1487701538430" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </p>
                    <br>
                    <br>
                    <p>
                        This website was maintained and is run from Clonea-Power, in literally the middle of nowhere.
                    </p>
                </section>
            </section>
        </section>

        <section class="total">
            <section class="ui compact one column row center aligned stackable grid segment">
                <section class="column">
                    <h3>How to get in touch?</h3>
                </section>
            </section>
        </section>

        <section class="total">
            <section class="ui two column row center aligned stackable grid segment">
                <section class="column">
                    <p>
                        <strong>E-mail:</strong>
                    </p>
                </section>
                <section class="column">
                    <p>
                        someone123@gmail.com
                    </p>
                </section>
            </section>

            <section class="ui two column row center aligned stackable grid segment">
                <section class="column">
                    <p>
                        <strong>Phone</strong>
                    </p>
                </section>
                <section class="column">
                    <p>
                        0871234567
                    </p>
                </section>
            </section>

            <section class="ui two column row center aligned stackable grid segment">
                <section class="column">
                    <p>
                        <strong>GitHub Account</strong>
                    </p>
                </section>
                <section class="column">
                    <p>
                        Username345
                    </p>
                </section>
            </section>

            <br>
            <br>
            <br>
            <h2>
                <u>Need to speak to the Author?</u>
            </h2>
            <p>
                Enter your message below and we will make sure it reaches them!
            </p>
            <br>
            <br>
            </p>
            <form class="ui stackable form">
                <h3 class="ui dividing stackable header">Message</h3>
                <div class="required field">
                    <label>Name</label>
                    <div class="two fields">
                        <div class="ten wide field">
                            <input type="text" name="message[first-name]" placeholder="First Name">
                        </div>
                        <div class="ten wide field">
                            <input type="text" name="message[last-name]" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="centered field">
                    <label>GitHub URL (if required)</label>
                    <div class="fields">
                        <div class="twelve wide field">
                            <input type="text" name="message[Github]" placeholder="Github">
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>County</label>
                        <select class="ui fluid dropdown">
                            <option value="" disabled selected hidden>Please Choose...</option>
                            <option value="antrim">Antrim</option>
                            <option value="armagh">Armagh</option>
                            <option value="carlow">Carlow</option>
                            <option value="cavan">Cavan</option>
                            <option value="clare">Clare</option>
                            <option value="cork">Cork</option>
                            <option value="derry">Derry</option>
                            <option value="donegal">Donegal</option>
                            <option value="down">Down</option>
                            <option value="dublin">Dublin</option>
                            <option value="fermanagh">Fermanagh</option>
                            <option value="galway">Galway</option>
                            <option value="kerry">Kerry</option>
                            <option value="kildare">Kildare</option>
                            <option value="kilkenny">Kilkenny</option>
                            <option value="laois">Laois</option>
                            <option value="leitrim">Leitrim</option>
                            <option value="limerick">Limerick</option>
                            <option value="longford">Longford</option>
                            <option value="louth">Louth</option>
                            <option value="mayo">Mayo</option>
                            <option value="meath">Meath</option>
                            <option value="monaghan">Monaghan</option>
                            <option value="offaly">Offaly</option>
                            <option value="roscommon">Roscommon</option>
                            <option value="sligo">Sligo</option>
                            <option value="tipperary">Tipperary</option>
                            <option value="tyrone">Tyrone</option>
                            <option value="waterford">Waterford</option>
                            <option value="westmeath">Westmeath</option>
                            <option value="wexford">Wexford</option>
                            <option value="wicklow">Wicklow</option>
                        </select>
                    </div>
                </div>
                <div class="required field">
                    <label>Text</label>
                    <textarea></textarea>
                </div>
                <div class="inline field">
                    <div class="ui stackable checkbox">
                        <input type="checkbox" tabindex="0">
                        <label>Subscribe to our weekly Newsletter</label>
                    </div>
                </div>
                <a href="/conformation">
                    <div class="ui animated stackable button" tabindex="0">
                        <div class="visible content">Submit</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                </a>
            </form>
        </section>
    </section>
</section>