{{> menu id="bookmark"}}
<br>
<br>
<br>
<br>

<section class="total">
    <section class="ui center aligned middle aligned stackable segment">
        <h2 class="ui stackable header">
            {{bookmark.title}}
        </h2>
        {{> listbookmarks}}
        {{> addlink}}
    </section>
</section>