{{> menu id="conformation"}}
<br>
<br>
<br>
<br>

<section class="total, content">
    <section class="ui compact center aligned middle aligned stackable segment">
        <h1>
            Congratulations!
        </h1>
        <br>
        <p>
            You just sent the Author of this app a message!. <br> We will notify you if/when the author responds!
        </p>
        <p>
            Click on the button below to return to the "Gomark V3.0" homepage!
        </p>
    </section>
    <br>
    <br>
    <section class="confo">
        <a href=".
        /stats" class="ui icon stackable button">
            <i class="icon massive stackable hand peace"></i>
        </a>
    </section>
</section>