{{> menu}}
<br>
<br>
<br>
<br>

<section class="content">
    <section class="ui center aligned middle aligned compact stackable segment">
        <h1 class="ui stackable header">
            Welcome to Gomark V3.0
        </h1>
        <p>
            This is an app designed to help people to save their favourite websites as "Bookmarks" for future use!
            <br>
            <br>
            Head over to the "Saved Bookmarks" tab to begin saving your favourite Bookmarks!
        </p>
        <br>
        <section class="total">
            <section class="ui center aligned middle aligned compact stackable piled segment">
                <h3>
                    Total number of Bookmarks being managed so far:
                </h3>
            </section>
        </section>
        <br>
        <section class="bookmarkCounter">
            <section class="ui inverted blue huge circular stackable segment">
                <p>
                    {{bookmarks.length}}
                </p>
            </section>
        </section>
        <br>
        <section class="total">
            <section class="ui center aligned middle aligned compact stackable piled segment">
                <h3>
                    Total number of Links being managed so far:
                </h3>
            </section>
        </section>
        <br>
        <section class="bookmarkCounter">
            <section class="ui inverted blue huge circular stackable segment">
                <p>
                    {{total}}
                </p>
            </section>
        </section>
        <br>
        <br>
        <p>
            <img class="ui fluid stackable image" src="https://cdn.gomix.com/b3a3d0a8-315b-4918-af4c-265cdd5f1909%2Fbookmark.jpg" width="200" height="200">
        </p>
    </section>
</section>